/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 40px 0;
    flex-grow: 1;  /* Garante que o conteúdo ocupe o espaço restante */
}

section#home {
    background-color: #fff;
    text-align: center;
}

section#servicos {
    background-color: #e9ecef;
}

section#sobre {
    background-color: #fff;
}

section#tabela {
    background-color: #fff;
}

section#contato {
    background-color: #e9ecef;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: auto;
}

form input, form textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto; /* Garante que o rodapé fique no final da página */
}

/* Estilo da Tabela de Preços */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
}

th, td {
    padding: 10px;
}

th {
    background-color: #333;
    color: #fff;
}

td {
    background-color: #f4f4f4;
}

table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
